{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link href="{% static 'css/creative.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Audiowide&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


  <title>Aga Test</title>
</head>
<body>
<div class="banner">
  <div class="backgroundpic">
    <!--<div class="topbar">-->
      <div class="logopic"> <img src="{% static 'img/cvclogo.jpg' %}" alt="CVC logo"> 
      </div>
       
      <div class="nav"> 
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="teams.html">Teams</a></li>
            <li><a href="matches.html">Matches</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul> 
      </div>
    <!--</div>-->
  
    <div class="linescontainer">
      <div class="line1"><p>Been there.</p></div>
      <div class="line2"><p>Dug that.</p></div>
    </div>
  </div>
</div>
    <div class="about">
      <div class="aboutinfo"><h1>About our club</h1>
        <h2>We are recruiting for the 2019/20 season starting this september! <button>contact us</button>ABOUT JOINING TODAY</h2>
        <p>The Club has six competitive teams, playing in Local, Regional and National Leagues.​
        We also actively develop beginners, coaches and referees 
        07877946191
        The Cathedral School Llandaff Cardiff CF5 2YH

        Originally formed as Cardiff Ladies Volleyball Club in 1979, the club achieved numerous successes over the years.  More recently the club opened its membership to male players. As a result, in 2014 the Club underwent a re-brand and formed Cardiff Volleyball Club.
         
        Our ethos as a Club is to actively encourage training and development for all levels of ability, within a welcoming, friendly and social environment yet still remaining competitive.  We are an ambitious Club, with one of our squads already competing in the National Volleyball League and future plans to increase levels of competition throughout.
         
        If you are new to Volleyball, a returning player or even experienced, we guarantee you will receive a warm welcome.</p>
      </div>
    </div>


  <div class="datatest"><p>Data test</p><ol>{% for date in dates %}
    <li>{{ date }}</li>
         {% endfor %}</ol>
  </div>

</body>
</html>